body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://i.pinimg.com/564x/df/66/dd/df66dd31e872f51d780ad1cbe4c92ff7.jpg'); /* Replace with your background image URL */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #1a65ba;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1a65ba;
}

#message {
    font-size: 18px;
    color: #1a65ba;
    margin-top: 15px;
}
